body {
  background-color: #f0f2f5;
}

.login-container {
  margin-top: 100px;
}

.card {
  border-radius: 15px;
  text-align: center;
   padding: 20px;
}

#wrapper {
    display: flex;
    width: 100%;
}

#sidebar-wrapper {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    padding-top: 20px;
}

.sidebar-heading {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px;
}

.list-group-item {
    border: none;
}

.list-group-item:hover {
    background-color: #495057;
}

#page-content-wrapper {
    margin-left: 250px;
    width: 100%;
    padding: 20px;
}

.card {
    
}
